/* montserrat-regular - latin_cyrillic */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-500 - latin_cyrillic */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* oswald-500 - latin_cyrillic */

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/oswald-v40-latin_cyrillic-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/oswald-v40-latin_cyrillic-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* common */

* {
    box-sizing: border-box;
}

body {
    font-family: "oswald", sans-serif;
    font-weight: 500;
    color: #060d10;
}

.container {
    width: 1278px;
    margin: 0 auto;
}


/* header */

.header {
    padding: 31px 0;
    background-color: #66d1ff;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-btn {
    min-width: 276px;
    padding: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    color: #060d10;
}

.header-phone {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
    color: #060d10;
}

.header-phone:hover {
    text-decoration: underline;
}


/* main */

.services {
    text-align: center;
    padding: 240px 0 260px 0;
    background-image: url(../images/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services-title {
    font-size: 60px;
    line-height: 89px;
    color: #fff;
    text-shadow: 1px 1px 2px #060d10;
}

.services-text {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    text-shadow: 1px 1px 2px #060d10;
    padding: 0 190px;
}

.possibilities {
    background-color: rgba(102, 209, 255, 0.1);
}

.possibilities-title {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 100px;
    font-size: 48px;
    line-height: 167%;
    margin: 0;
}

.possibilities-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.possibilities-item {
    flex-basis: 33.33%;
}

.possibilities-heading {
    font-size: 32px;
    line-height: 167%;
}

.possibilities-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 140%;
    opacity: 0.8;
}

.order-text {
    font-size: 48px;
    line-height: 167%;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 60px;
}

.order {
    display: flex;
    align-items: center;
}

.btn {
    text-align: center;
    min-width: 290px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    border: 3px solid #060d10;
    border-radius: 4px;
    padding: 20px 107px 22px 108px;
    margin: 60px 0 0 400px;
    text-decoration: none;
}

.pictures {
    padding-top: 142px;
    padding-left: 22px;
}

.footer {
    padding: 35px 0;
    background-color: #060d10;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-family: 'Monserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 167%;
    color: #fff;
}

.copyright-end {
    font-family: 'Monserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff
}

.social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 50px;
}

.social-item {
    margin-left: 20px;
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.social-text {
    font-size: 1px;
    opacity: 0;
}